@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-rainbow {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bg-white-fix {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 0.7;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

h1, .card.title {
    @apply text-2xl leading-6 font-medium font-bold text-primary mb-5;
}

h2 {
    @apply text-xl leading-6 font-medium text-gray-800 mb-5;
}

h3 {
    @apply text-lg leading-6 font-medium text-gray-800 mb-5;
}

.btn-success {
    @apply text-white font-bold;
}


.landing h1 {
    @apply mt-10 text-4xl font-bold tracking-tight sm:text-6xl;
}

.landing p {
    @apply text-lg leading-8 ;
}

.card-body{
   @apply px-4 py-5 sm:p-6;
}

.action-button{
    @apply rounded-lg btn btn-success shadow-md;
}

.modal-box {
    overflow: hidden;
}
